body{
    margin: 0;
    padding: 0;
    background-image: url('../Imagens/ImagemTrampo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
}

.cadastro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 598px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

.cadastro h1{
    text-align: center;
    font-size: 32px;
    color: #2C3E50; 
    text-decoration: none;
    line-height: 50px;
}

.cadastro p a{
    text-decoration: none;
}

.cadastro input[type = "text"], .cadastro input[type = "password"], .cadastro input[type = "email"]{
    background: none;
    display: flex;
    margin: 4px auto;
    padding: 12px 10px;
    border: 2px solid #808080;
    border-radius: 9px;
    width: 250px;
    outline: none;
    font-size: 18px;
}

.cadastro input[type = "submit"]{
    background: none;
    border: 0;
    display: block;
    margin: 6px auto;
    text-align: center;
    padding: 12px 10px;
    border: 2px solid #808080;
    border-radius: 24px;
    width: 200px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

.cadastro input:hover{
    border: 2px solid #000000;
}