*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.configs{
    position: absolute;
    top: 40px;
    left: 15%;
    display: block;
}
.configs .titulo, .configs .form{
    padding: 12px 0px;
}

.configs .form input[type="text"], .configs .form input[type="number"],
.configs .form input[type="email"]{
    padding: 4px 0px;
    margin: 4px auto;
    text-align: initial;
    background: none;
    outline: none;
    width: 300px;
    border: none;
    margin-bottom: 10px;
}

.configs .form input[type="text"]:focus, .configs .form input[type="number"]:focus{
    border-bottom: 3px solid #48A8D5;
    transition: 0.2s;
}

.configs .form input[type="checkbox"]{
    margin: 4px auto;
}

.configs .form input[type="submit"]{
    background: none;
    border: 2px solid #48A8D5;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.sobrenos{
    position:absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sobrenos .autor {
    padding: 10px 10px;
    border: 1px solid;
    display: inline-flex;
    width: 360px;
    height: 200px;
    
}

.titulo{
    color: gray;
}